<!DOCTYPE html>
<html>
  <head>
    <title>FriendApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <body>
    <div class = "wrapper">
      <header>
        <% if logged_in? %>
          <ul class="row">
            <li class="col-md-3"><%= link_to "友達つながりアプリ", blogs_path%><li>
            <li class=" col-md-3"><%= link_to "プロフィール", user_path(current_user.id) %></li>
            <li class="col-md-3"><%= link_to '投稿', new_blog_path %></li>
            <li class="col-md-3"> <%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
          </ul>
        <% else %>
          <ul class="row">
            <li class="col-md-4"><%= link_to "友達つながりアプリ", blogs_path%><li>
            <li class="col-md-4"><%= link_to "アカウント登録", new_user_path %></li>
            <li class="col-md-4"><%= link_to "ログイン", new_session_path %></li>
          </ul>
        <% end %>
      </header>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
      <%= yield %>
    <footer>
      <p>chihiro-kakizaki</p>
    </footer>
    </div>
  </body>
</html>
